/*Add padding and margin to space out the page.
Make the font larger too.*/
body{
	font-family: 'Josefin Sans', sans-serif;
	background-color: white;
	margin:1%;
	padding:1%;
	font-size:150%;
	background-image: url('../images/background.png')
	
}

main {
	display: block;
	margin-top: 25px;
}
/*Make the h1 heading bigger with a bold font*/
h1{
	display: block;
	font-size: 2em; 
	font-weight: bold;
	margin: 50px 0;
	text-align: center;
}




.active{
    text-transform: uppercase;
	text-align: center;
	border: solid 5px yellow;
	font-size: 120%;
	font-weight: bolder;	
}

.active a{
	text-decoration: none;

}

/*Style the images*/
img{
	display:block;
    height: 50%;
    width: 50%;
    border: 2px dashed black;
    padding: 10px;
    border-radius: 2px;
    margin: 10px;
}

/* 
img:hover {

	background-color: rgb(133, 216, 255);
	border: 3px solid rgb(16, 12, 236);
	height: 300px;
    width: 300px;
}
*/

img:nth-child(even):hover{
	background-color: rgb(133, 216, 255);
	border: 3px solid rgb(16, 12, 236);
	height: 300px;
    width: 300px;

}

/*Make the h2 heading match h1*/



h2{
	font-size: 2em; 
	font-weight: bold;
}

/*Improve the spacing for paragraphs AND headings*/
p, h1, h2 {
	display: block;
    padding: 20px;
	color: black;
}



a, p {
	color: black;
}

/*Add borders around the main components and some
space too*/
header, nav {
	/* border: 2px solid rgb(175, 64, 64); */
	margin: 30px 0;
	font-size: 30px;
}


/*Change the styling for all of the list 
items in the nav section*/

nav {
	background-color:lightblue;
}

nav ul {
	display:grid;
}

nav li{
	/* background-color: rgb(233, 233, 233);*/
	padding:20px;
	/* width:25%; */
	/* border:1px solid rgb(148, 148, 144);*/
	display: inline-block;
	text-align: center;
	/* width: 20%; */
	margin: 20px;
}



a.footerlink {
	display:block;
	padding-left: 20px;
	color:blue;
	
}

.skip {
	display: block;
	color: blue;
	margin-bottom: 50px;
}

footer {
	font-size: 70%;
	background-color: rgb(251, 251, 212);
	display: block;
	margin-top: 100px;
	padding-bottom: 20px;
	padding-top: 10px;
	
}

/*Added this so the links stay the same color*/
nav a:visited{color: rgba(0, 0, 0, 0.849)}

/*FORM*/
form {
	margin-top: 60px;
	background-color: rgb(233, 247, 251);
}

legend {
	font-size: larger;
	text-transform: uppercase;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	margin-top: 8px;
	margin-bottom: 20px;
	padding-top: 20px;

}

fieldset {
	margin-left: 20px;
	margin-right: 20px;
}

input {
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	display: inline-block;
	width: 100%;
	padding: 12px 10px;
	margin-top: 8px;
	margin-bottom: 20px;
	border: 1px solid #ccc;
	box-sizing: border-box;
	
  }

  #message_id {
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	display: block;
	width: 100%;
	height: 50px;
	margin-top: 8px;
	margin-bottom: 20px;
	padding-top: 12px;
	padding-bottom: 12px;
	border: 1px solid #ccc;
	font-size: 15px;
  }

  input[type=checkbox] {
	  width:auto;
  }

  input[type=submit] {
	font-size: 80%;
	background-color:rgb(35, 98, 128);
	color: white;
	padding: 14px 20px;
	margin-top: 20px;
	margin-bottom: 30px;
	border: none;
	border-radius: 50px;
	cursor:grab;
	width: 100%;
	
  }
  
  input:focus {
	border: 5px solid blue;
	background-color: yellow;
	color:black;
  }

  textarea:focus {
	border: 5px solid blue;
	background-color: yellow;
	color:black;
  }	


  /*icon*/
  .fa-solid {
	  color: rgb(255, 118, 94);
  }
  /*animation*/
  
@keyframes transition {
    0% {width: 25px; opacity: 0; border-radius: 50px;}
    100% {width: 275px; opacity: 1;border-radius: 0px;}

}

#animation {
    display: block;
    margin: auto;
    animation: transition 5s;
}

@media (prefers-reduced-motion: reduce) {
    #animation {
        animation: none;
    }
}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.grid {
	display: grid;
	grid-template-columns: 1fr;
	
}

.grid img,
.flex img {
	width: 90%;
	height: 90%;
	margin-left: auto;
    margin-right: auto;
}


img {
	width:50%;
	margin-left: auto;
    margin-right: auto;
}


/* flipcard */
#flip_card_image {
	height: 100%;
	width: 100%;
	border: none;
}

.flip-card {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 5em;
	background-color: transparent;
	width: 300px;
	height: 500px;
	/* border: 10px solid #b1d62a; */
}

@media screen and (prefers-reduced-motion: reduce){
    .flip-card{
      animation: none;
    }
}



.flip-card-inner {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	transition: transform 1s;
	transform-style: preserve-3d;			
}

.flip-card:hover .flip-card-inner {
	transform: rotateY(180deg);
}


.flip-card-front, .flip-card-back {
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden; /* Safari */
	backface-visibility: hidden;
}

.flip-card-front {
	/* background-color: #bbb; */
	color: black;
}

.flip-card-back {
	background-color: dodgerblue;
	color: white;
	transform: rotateY(180deg);
}


/* parallax */
.parallax {
	/* The image used */
	background-image: url("../images/dots_parallax_bacgground.jpeg");
  
	/* Set a specific height */
	min-height: 200px;
  
	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
  }



@media only screen and (min-width:768px)
{
	nav ul{
		display: grid;
		grid-template-columns: 50% 50%;
	}

	.grid, .flex {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}
}

@media only screen and (min-width:1200px)
{
	nav ul{
		display: flex;
	}

	.grid, .flex {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
	}

	#animation {
		width: 275px;
	}

	.flex_image {
		display:flex;
	}

}

